@model AspMvcBiblio.Entities.Book

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label>
                <input asp-for="Authors.FirstOrDefault().FullName" class="form-control" />
                <span asp-validation-for="Authors" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="KeyWords" class="control-label"></label>
                <input asp-for="KeyWords.FirstOrDefault().Word" class="form-control" />
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="KeyWords" class="control-label"></label>
                <select asp-for="KeyWords" class="form-control" asp-items="ViewBag.KeyWords"></select>
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Themes" class="control-label"></label>
                <select asp-for="Themes" asp-items="@(ViewData["Themes"] as SelectList)" class="form-control">
                </select>
                <span asp-validation-for="Themes" class="text-danger"></span>
            </div>

            <div>
                <input asp-for="Themes.FirstOrDefault().DomainName" class="form-control" />
            </div>

   

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
